services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: artemisa_db
      POSTGRES_USER: cristofer
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@artemisa.com
      PGADMIN_DEFAULT_PASSWORD: 1234
    ports:
      - "8080:80"


volumes:
  postgres_data: